{% extends "website/base.html" %}


{% block content %}


<div class="container py-5">


<h1 class="text-center mb-5">
    Contact Khungani Electrical
</h1>


<div class="row">


<div class="col-md-6">


<h3>
Get In Touch
</h3>


<p>
Need electrical installation,
solar solutions or maintenance?
Contact us today.
</p>


<p>
<strong>Phone:</strong>
076 847 7173
</p>


<p>
<strong>Email:</strong>
Khungani@gmail.com
</p>


</div>



<div class="col-md-6">


<form>


<div class="mb-3">

<input 
type="text"
class="form-control"
placeholder="Your Name">

</div>



<div class="mb-3">

<input 
type="email"
class="form-control"
placeholder="Your Email">

</div>



<div class="mb-3">

<textarea
class="form-control"
rows="5"
placeholder="Message">
</textarea>

</div>



<button class="btn btn-warning">
Send Message
</button>


</form>


</div>


</div>


</div>


{% endblock %}